---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { siteConfig, menuLinks } from "@/site.config";
import { Icon } from "astro-icon/components";
import ColorPalet from '../blog/ColorPalet.svelte'
---

<header
	id="main-header"
	class="fixed inset-x-0 top-0 z-20 h-16 w-full bg-bgColor px-4 md:relative md:bg-transparent"
>
	<div class="mx-auto flex h-full max-w-6xl items-center justify-between">
		<a
			aria-label={siteConfig.title}
			href="/"
			class="group flex h-8 items-center hover:filter-none"
		>
			<div title={siteConfig.title}>
				<Icon name="mingcute:fish-line" class="size-6 text-accent-one" />
			</div>
			<strong class="mb-0.5 ml-1 hidden text-2xl group-hover:text-accent-one xs:block">
				{siteConfig.title}
			</strong>
		</a>

		<nav
			aria-label="Main menu"
			class="hidden md:flex md:items-center md:gap-x-4 text-sm font-medium"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={Astro.url.pathname === link.path ? "page" : false}
						class="underline-offset-2 hover:underline"
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>

		<div id="buttons-panel" class="flex items-center gap-x-2">
			<Search />
			<ThemeToggle />
			<a class="link" href="/admin/index.html">
				<Icon
					name="ri:admin-line"
					class="h-7 w-7 rounded-lg drop-shadow-[0px_1.5px_1.5px_rgba(0,0,0,0.175)] hover:text-accent-two"
				/>
			</a>
		</div>
	</div>
</header>
