---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { siteConfig, menuLinks } from "@/site.config";
import { Icon } from "astro-icon/components";
import ColorPalet from '../blog/ColorPalet.svelte'
---

<header
	id="main-header"
	class="fixed inset-x-0 top-0 z-20 h-16 w-full bg-bgColor md:relative md:bg-transparent"
>
	<div class="mx-auto flex h-full w-full items-center justify-between px-4">
		<a
			aria-label={siteConfig.title}
			aria-current={Astro.url.pathname === "/" ? "page" : false}
			class="group flex h-8 items-center hover:filter-none sm:relative"
			href="/"
		>
			<div title={siteConfig.title}>
				<Icon name="mingcute:fish-line" class="size-6 text-accent-one" />
			</div>
			
			<strong class="'max-[320px]:hidden' bg-clip-text text-transparent bg-gradient-to-r from-accent-base/80 to-accent-one hidden xs:block z-10 mb-0.5 ml-1 text-2xl group-hover:text-accent-one">
				{siteConfig.title}
			</strong>
		</a>
		
		<nav
			aria-label="Main menu"
			class="top-20 text-sm mx-auto ml-4 ml-auto hidden flex-col items-end justify-center gap-x-4 rounded-md bg-bgColor font-medium text-accent-two shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:flex-row sm:items-center sm:rounded-none sm:bg-transparent sm:shadow-none sm:backdrop-blur-none md:flex"
			id="main-navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={Astro.url.pathname === link.path ? "page" : false}
						class="underline-offset-2 hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
		
		<div class="flex items-center">
			<div id="buttons-panel" class="top-4 md:top-8 flex gap-2">
				<Search />
				<ColorPalet client:only/>
				<ThemeToggle />
				<a class="link" href="/admin/index.html">
					<Icon name="ri:admin-line" class="h-7 w-7 rounded-lg drop-shadow-[0px_1.5px_1.5px_rgba(0,0,0,0.175)] hover:text-accent-two" />
				</a>
			</div>
		</div>	
	</div>
</header>
