---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { siteConfig, menuLinks } from "@/site.config";
import { Icon } from "astro-icon/components";
import ColorPalet from '../blog/ColorPalet.svelte'
---
<header class="navbar bg-bgColor">
	<div class="ps-4">
		<a
		aria-label={siteConfig.title}
		aria-current={Astro.url.pathname === "/" ? "page" : false}
		class="group flex h-8 items-center hover:filter-none sm:relative"
		href="/"
	>
		
		
		<strong class="'max-[320px]:hidden' bg-clip-text text-transparent bg-gradient-to-r from-accent-base/80 to-accent-one hidden xs:block z-10 mb-0.5 ml-1 text-2xl group-hover:text-accent-one">
			{siteConfig.title}
		</strong>
	</a>
	</div>
	<nav
			aria-label="Main menu"
			class="text-sm ml-16 hidden flex-col items-end justify-center gap-x-4 rounded-md bg-bgColor font-medium text-accent-two shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:flex-row sm:items-center sm:rounded-none sm:bg-transparent sm:shadow-none sm:backdrop-blur-none md:flex"
			id="main-navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={Astro.url.pathname === link.path ? "page" : false}
						class="underline-offset-2 hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	<div class="flex grow justify-end md:hidden">
	  <div class="flex items-stretch">

		<div class="dropdown dropdown-end">
		  <div tabindex="0" role="button" class="btn btn-ghost rounded-field">
			<Icon name="mingcute:menu-fill" class="p-1 size-8" />
		  </div>
		  <ul
			tabindex="0"
			class="menu dropdown-content bg-accent-one/10 rounded-box z-1 mt-4 w-52 p-2 shadow-sm">
			{
				menuLinks.map((link) => (
					<li><a
						aria-current={Astro.url.pathname === link.path ? "page" : false}
						class="underline-offset-2 hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a></li>
				))
			}
		  </ul>
		</div>
		
	</div>
</header>

