---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { siteConfig, menuLinks } from "@/site.config";
import { Icon } from "astro-icon/components";
import ColorPalet from '../blog/ColorPalet.svelte'
---
<div class="navbar bg-bgColor shadow-sm fixed top-0 inset-x-0 z-50">
  <div class="navbar-start">
    <a
		aria-label={siteConfig.title}
		aria-current={Astro.url.pathname === "/" ? "page" : false}
		class="group flex h-8 items-center hover:filter-none sm:relative px-5"
		href="/"
	>
		
		
		<strong class="'max-[320px]:hidden' bg-clip-text text-transparent bg-gradient-to-r from-accent-base/80 to-accent-one hidden xs:block z-10 mb-0.5 ml-1 text-2xl group-hover:text-accent-one">
			{siteConfig.title}
		</strong>
	</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1" aria-label="Main menu">
		{
			menuLinks.map((link) => (
				<li><a
					aria-current={Astro.url.pathname === link.path ? "page" : false}
					class="underline-offset-2 hover:underline"
					data-astro-prefetch
					href={link.path}
				>
					{link.title}
				</a></li>
			))
		}
    </ul>
  </div>

  <div class="navbar-end">
    <div class="dropdown dropdown-end z-20 relative md:hidden">
		<div tabindex="0" role="button" class="btn btn-ghost rounded-field pointer-events-auto">
		  <Icon name="mingcute:menu-fill" class="p-1 size-8" />
		</div>
		<ul
		  tabindex="0"
		  class="menu dropdown-content bg-bgColor/90 rounded-box z-1 mt-4 w-52 p-2 shadow-lg">
		  {
			  menuLinks.map((link) => (
				  <li><a
					  aria-current={Astro.url.pathname === link.path ? "page" : false}
					  class="underline-offset-2 hover:underline"
					  data-astro-prefetch
					  href={link.path}
				  >
					  {link.title}
				  </a></li>
			  ))
		  }
		</ul>
	  </div>
  </div>
</div>

