---
import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';
import PostTags from '~/components/blog/Tags.astro';
import Image from '~/components/common/Image.astro';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';
import { Icon } from 'astro-icon/components';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = APP_BLOG?.post?.isEnabled ? getPermalink(post.permalink, 'post') : '';
---

<article
  class=" relative p-3 md:p-6  transition intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
>
  <div class="absolute inset-4 z-10 pointer-events-none">
    {
      post.tags && Array.isArray(post.tags) ? (
        <header class="">
          <PostTags tags={post.tags} class="text-xs md:text-md flex flex-wrap pointer-events-auto" />
        </header>
      ) : (
        <Fragment />
      )
    }
    {
      post.category && (
        <>
          <span class="text-xs bg-gray-100/90 text-muted text-left whitespace-nowrap py-1 px-2 rounded-full hover:text-blue-500/90">
          <Icon name="tabler:brand-telegram" class="w-3.5 h-3.5 inline-block -mt-0.5 text-white dark:text-gray-400 bg-gray-500 rounded-full p-[1px]" />
          <a class="underline underline-offset-2 text-gray-600 hover:text-blue-500/90 pointer-events-auto" href={getPermalink(post.category.slug, 'category')}>{post.category.title}</a>
          </span>
        </>
      )
    }
  </div>
  
  <div class="relative overflow-hidden p-2 sm:p-4 lg:p-10">
    {
      image &&
        (link ? (
          <a href={link}>
            <Image
              src={image}
              class="w-full md:h-full rounded-3xl bg-gray-400 dark:bg-slate-700"
              widths={[400, 900]}
              width={400}
              sizes="(max-width: 900px) 400px, 900px"
              alt={post.title}
              aspectRatio="1:2"
              layout="cover"
              loading="lazy"
              decoding="async"
            />
          </a>
        ) : (
          <Image
            src={image}
            class="w-full md:h-full shadow-lg bg-gray-400 dark:bg-slate-700"
            widths={[400, 900]}
            width={400}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post.title}
            aspectRatio="1:2"
            layout="cover"
            loading="lazy"
            decoding="async"
          />
        )
        )
    }
  </div>
 
  <h3 class="text-center text-md sm:text-lg font-bold leading-tight my-2 font-heading dark:text-slate-300">
    {
      link ? (
        <a class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href={link}>
          {post.title}
        </a>
      ) : (
        post.title
      )
    }
  </h3>
  <hr class="h-[3px] my-4 bg-gray-200 border-0 dark:bg-gray-700 rounded-full">
  <p class="text-xs w-full text-muted text-right whitespace-nowrap">
    <Icon name="tabler:clock-filled" class="w-3 h-3 inline-block -mt-0.5 dark:text-gray-400" />
    <time datetime={String(post.publishDate)} class="inline-block">{post.publishDate.getFullYear()}年{post.publishDate.getMonth()+1}月{post.publishDate.getDate()}日</time>
    
   
  </p>
</article>
