---
import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';
import PostTags from '~/components/blog/Tags.astro';
import Image from '~/components/common/Image.astro';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';
import { Icon } from 'astro-icon/components';
import { getExcerpt } from '~/utils/utils';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = (await findImage(post.image)) || (await findImage('~/assets/images/desert.jpg'));

const link = APP_BLOG?.post?.isEnabled ? getPermalink(post.permalink, 'post') : '';
const excerpt = await getExcerpt(50, post.id);
---

<article
  class="border-2 border-teal-100 rounded-3xl max-h-sm relative p-3 md:p-6  transition intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade flex flex-col items-center gap-6"
> {link && <a href={link} class="absolute inset-0 z-10 hover:bg-blue-200/10"></a>}
<p class="text-xs w-full text-muted text-right whitespace-nowrap">
 
  <Icon name="tabler:clock-filled" class="w-3 h-3 inline-block -mt-0.5 dark:text-gray-400" />
  <time datetime={String(post.publishDate)} class="inline-block">{post.publishDate.getFullYear()}年{post.publishDate.getMonth()+1}月{post.publishDate.getDate()}日</time>
  {
    post.category && (
      <>
        <span class="text-xs bg-gray-100/90 text-muted text-left whitespace-nowrap py-1 px-2 rounded-full hover:text-blue-500/90">
        <Icon name="tabler:brand-telegram" class="w-3.5 h-3.5 inline-block -mt-0.5 text-white dark:text-gray-400 bg-gray-500 rounded-full p-[1px]" />
        <a class="underline underline-offset-2 text-gray-600 hover:text-blue-500/90 pointer-events-auto" href={getPermalink(post.category.slug, 'category')} >{post.category.title}</a>
        </span>
      </>
    )
  }
</p>
  <h3 class="text-center text-xl md:text-2xl font-bold leading-tight  mt-2 font-heading dark:text-slate-300">
    {
      link ? (
        <a class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href={link}>
          {post.title}
        </a>
      ) : (
        post.title
      )
    }
  </h3>
  <div class="pointer-events-none">
    
    {
      post.tags && Array.isArray(post.tags) ? (
        <header class="">
          <PostTags tags={post.tags} class="text-xs md:text-md flex flex-wrap pointer-events-auto relative z-20" />
        </header>
      ) : (
        <Fragment />
      )
    }
    
  </div>
  <footer class=" dark:text-slate-400 text-xs sm:text-sm md:text-md text-gray-500">
    <a href={link} class="">{excerpt}{excerpt==='...'? '執筆中です':''}</a>
  </footer>

  
</article>
