---
import { Icon } from 'astro-icon/components';

import Image from '~/components/common/Image.astro';
import PostTags from '~/components/blog/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';
import Button from '../ui/Button.astro';
import ToBlogLink from './ToBlogLink.astro';

import LikeButton from '~/components/blog/LikeButton.svelte';
import FireButton from '~/components/blog/FireButton.svelte';
import SmileButton from '~/components/blog/SmileButton.svelte';
import CommentsForm from '~/components/blog/CommentsForm.svelte';
import TOC from './TOC.astro';
import Advertisement from '../common/Advertisement.astro';
import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';
import { getPrevPost } from '~/utils/blog';
import { getNextPost } from '~/utils/blog';
import { getBlogPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';

import type { Post } from '~/types';
import WidgetWrapper from '../ui/WidgetWrapper.astro';

export interface Props {
  post: Post;
  url: string | URL;
}
const { 
  post, 
  url,
  } = Astro.props;
const prevpost= await getPrevPost(post);
const nextpost = await getNextPost(post);
const image = (await findImage(post.image)) || (await findImage('~/assets/images/desert.jpg'));
---

<section class="px-2 sm:px-4 py-8 sm:py-16 lg:py-20 mx-auto">
  <article >
    <header
      class={post.image
        ? 'max-w-3xl mx-auto intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade'
        : 'max-w-3xl mx-auto intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade'}
    >
      <div class="flex justify-between flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center lg:gap-4">
        <p>
          <Icon name="tabler:clock" class="w-4 h-4 inline-block -mt-0.5 dark:text-gray-400" />
          <time datetime={String(post.publishDate)} class="inline-block">{getFormattedDate(post.publishDate)}</time>
          {
            post.author && (
              <>
                {' '}
                · <Icon name="tabler:user" class="w-4 h-4 inline-block -mt-0.5 dark:text-gray-400" />
                <span class="inline-block">{post.author}</span>
              </>
            )
          }
          {
            post.category && (
              <>
                {' '}
                ·{' '}
                <a class="hover:underline inline-block" href={getPermalink(post.category.slug, 'category')}>
                  {post.category.title}
                </a>
              </>
            )
          }
          {
            post.readingTime && (
              <>
                &nbsp;· <span>{post.readingTime}</span> min read
              </>
            )
          }
        </p>
      </div>

      <h1
        class="px-6 sm:px-10 max-w-3xl mx-auto lg:ms-5 text-3xl md:text-4xl font-bold leading-tighter tracking-tighter font-heading"
      >
        {post.title}
      </h1>
      <p
        class="max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-sm md:text-xl text-muted dark:text-slate-400 text-justify"
      >
        {post.excerpt}
      </p>

      {
        image ? (
          <Image
            src={image}
            class="max-w-full lg:hidden mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post?.excerpt || ''}
            width={900}
            height={400}
            loading="eager"
            decoding="async"
          />
        ) : (
          <div class="max-w-sm md:max-w-2xl mx-auto px-4 sm:px-6">
            <div class="border-t dark:border-slate-700" />
          </div>
        )
      }
    </header>
    
  <div class="lg:grid lg:grid-cols-3 w-full">
    <div
      class="bg-white dark:bg-gray-950 rounded-lg lg:col-span-2 mt-20 px-4 lg:px-8 py-10 pt-15 mx-auto text-gray-800 dark:text-gray-200 prose-headings:mb-7 prose-headings:-transform-x-5 prose-headings:w-2/3 prose-h2:text-xl px-2 sm:px-4 max-w-3xl prose prose-md prose-zinc lg:prose-lg dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg prose-headings:scroll-mt-[80px] prose-li:scroll-mt-[80px] prose-li:my-2 prose-li:mx-2"
    >
      <slot />
    </div>

    <div class="max-w-3xl mx-auto my-10 lg:col-span-1 lg:bg-white dark:lg:bg-gray-950 lg:p-8 ">
      {
        image ? (
          <Image
            src={image}
            class="max-w-full lg:block hidden mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post?.excerpt || ''}
            width={900}
            height={400}
            loading="eager"
            decoding="async"
          />
        ) : (
          <div class="max-w-sm md:max-w-2xl mx-auto px-4 sm:px-6">
            <div class="border-t dark:border-slate-700" />
          </div>
        )
      }
    {
      (prevpost || nextpost) && (
        
          <div class="flex flex-row mx-auto  justify-between px-3">
            <Button
              variant="secondary"
              class={`md:px-3 px-3 mr-2 ${!prevpost ? 'invisible' : ''}`}
              href={getPermalink(prevpost?.slug)}
            >
              <Icon name="tabler:chevron-left" class="w-5 h-5 mr-1 -ml-1.5 rtl:-mr-1.5 rtl:ml-1" />
              <p class="ml-2">前の記事</p>
            </Button>
    
            <Button variant="secondary" class={`md:px-3 px-3 ${!nextpost ? 'invisible' : ''}`} href={getPermalink(nextpost?.slug)}>
              <span class="mr-2">次の記事</span>
              <Icon name="tabler:chevron-right" class="w-5 h-5 -mr-1 ml-1.5 rtl:-mr-1.5 rtl:ml-1" />
            </Button>
          </div>
      )
    }
    <div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex gap-5 flex-col">
      <PostTags tags={post.tags} class="mr-5 rtl:mr-0 rtl:ml-5" />
    </div>
    
    <div class="mx-auto max-w-3xl px-6 mt-4 flex flex-wrap justify-between items-center gap-y-3 gap-x-5">
      <SocialShare url={url} text={post.title} class="align-middle text-gray-500 dark:text-slate-600 pt-1.5" />
      <div class="flex gap-1">
      <LikeButton slug={post.id} client:load />
      <FireButton slug={post.id} client:load />
      <SmileButton slug={post.id} client:load />
      </div>
    </div>
    <div class="max-w-3xl mx-auto flex flex-col items-end my-10">
      { post.category && (
      <Button variant="primary" class="px-3 md:px-3 mt-3" href={getPermalink(post.category.slug, 'category')}>
        {post.category.title} 
        <Icon name="tabler:chevron-right" class="w-5 h-5 mr-1 ml-1.5" />
        
       </Button>
       )
      }
      <Button variant="primary" class="px-3 md:px-3 mt-3 " href={getBlogPermalink()}>
       全ての記事
        <Icon name="tabler:chevron-right" class="w-5 h-5 mr-1 ml-1.5 " />
      </Button>
    </div>
    <Advertisement size="m" />
    <WidgetWrapper containerClass={'bg-white dark:bg-slate-900 max-w-3xl lg:w-full flex flex-col items-center'}>
    <CommentsForm post_id={post.id} client:load/>
    </WidgetWrapper>
    </div>
  </div>
  </article>
</section>
