---
import type { Post } from "~/types";
import { Icon } from "astro-icon/components";
import { getEntry, render } from "astro:content";
interface Props {
    id:string;
}
const { id } = Astro.props;
const entry = await getEntry('post', id)
if (!entry) {
    throw new Error('Could not find blog post')
}
const {Content, headings, remarkPluginFrontmatter} = await render(entry);
const toc = headings.map((h,i) => {
    return {depth:h.depth, title:h.text, link:h.slug}
})
---
{headings[0] && (
    <h2>目次</h2>
<div tabindex="0" class="collapse collapse-plus bg-teal-50/50 dark:bg-gray-900 rounded-xl mx-auto">
    <div class="collapse-title">
    </div>
    <input type="checkbox" checked={true} />
   
    <div class="collapse-content rounded-2xl p-4">
       
            {
                toc && (
                    toc.map((t, i)=>(
                    <ul class="timeline timeline-vertical">
                        {!(t.title === 'Footnotes') && (
                            
                                (t.depth==2) ? (
                                    
                                    <li class="text-sm text-muted hover:underline hover:text-blue-400">
                                         {(i!==0) && (<hr class="bg-indigo-400" />)}
                                        <div class="timeline-middle"><Icon name="tabler:brand-tinder-filled" class="text-indigo-400 size-4 bg-indigo-100 rounded-full"/></div>
                                        <div class="timeline-end timeline-box"><a href={`#${t.link}`}>{t.title}</a></div>
                                        {(i!==(headings.length-2)) && (<hr class="bg-indigo-400 my-0" />)}
                                    </li>
                                ):(
                                    <li class="text-xs text-muted hover:text-blue-400">
                                        {(i!==0) && (<hr class="bg-teal-400" />)}
                                        <div class="timeline-middle"><Icon name="tabler:brand-tinder-filled" class="text-teal-400 size-4 bg-teal-100 rounded-full"/></div>
                                        <div class="timeline-end timeline-box"><a href={`#${t.link}`}>{t.title}</a></div>
                                        {(i!==(headings.length-2)) && (<hr class="bg-teal-400 my-0" />)}
                                    </li>
                                )
                        
                        )}
                        </ul>
                    )
            ))}
        </ul>
    </div>
</div>
) }
