---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";
import ThemeToggle from "@/components/ThemeToggle.astro";
import ColorPalet from "@/components/blog/ColorPalet.svelte";
import { Icon } from "astro-icon/components";
import ClientRouter from "astro/components/ClientRouter.astro";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html transition:name="root" lang={siteConfig.lang} class="overflow-x-hidden scroll-pt-20 scroll-smooth font-ja text-textColor antialiased"
lang={siteConfig.lang}>
	<head>
		
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body class="bg-bgColor min-h-screen overflow-hidden"  transition:animate="fade">
		<script >
			import ripple from 'ripple-effects-v2';
			ripple(".waves");
		</script>
		<script >
			import { Observer } from 'tailwindcss-intersect';
			Observer.start();
		</script>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<div class="fab">
	<!-- a focusable div with tabindex is necessary to work on all browsers. role="button" is necessary for accessibility -->
	<div tabindex="0" role="button" class="mask mask-squircle shadow-lg size-12 p-1 bg-accent-base/10 waves">
		<Icon name="mingcute:settings-6-fill" class="size-full p-2" />
	</div>
  
	<div class="bg-accent-base/10 rounded-full">
		<a href="/admin/index.html">
			<Icon name="ri:admin-line"  class="size-12 p-3 waves"/>
		</a>
		</div>
		<div class="bg-accent-base/10 rounded-full size-12 waves">
		<ColorPalet client:only />
		</div>
		<div class="bg-accent-base/10 rounded-full size-12 waves">
			<ThemeToggle />
		</div>
	</div>
  </div>
		<div class="flex w-full md:px-10 md:pt-16">
			<!-- Sidebar for Docs Series -->
			<slot name="sidebar" />
			<!-- Main container for the page content -->
			
			<div  class="w-full sm:w-4/5 lg:w-3/5 mx-auto px-6">
				<div class="m-auto min-h-screen">
					
					<main  class="mt-32 md:mt-[3.5rem] headings:font-bold">
						<slot />
					</main>
					<Footer />
				</div>
			</div>
		</div>
	</body>
</html>
