---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html
	class="overflow-x-hidden grid scroll-pt-20 scroll-smooth font-jp text-textColor antialiased relative p-0 m-0"
	lang={siteConfig.lang}
>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body class="min-h-screen grow relative bg-bgColor p-0 m-0">
		<ThemeProvider />
		<SkipLink />
		
		<div class="relative flex min-h-screen w-full">
			<slot name="sidebar" />
			<div id="container" class="relative grow m-auto w-full">
				<div class="m-auto grid min-h-screen md:grid-rows-[auto_auto_1fr] px-4 md:px-8 md:pt-4">
					<div class="w-full h-10 bg-pink-500" >
                    </div>
					<main id="main" class="relative flex-grow mt-32 md:mt-[3.5rem] ">
						<slot />
					</main>
					<Footer />
				</div>
			</div>
		</div>
	</body>
</html>
