---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";
import ThemeToggle from "@/components/ThemeToggle.astro";
import ColorPalet from "@/components/blog/ColorPalet.svelte";
import { Icon } from "astro-icon/components";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html lang={siteConfig.lang} class="p-0">
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<div class="flex w-full md:px-10 md:pt-16">
			<!-- Sidebar for Docs Series -->
			<slot name="sidebar" />
			<!-- Main container for the page content -->
			
			<div  class="w-full sm:w-4/5 lg:w-3/5 mx-auto px-6">
				<div class="m-auto min-h-screen">
					
					<main  class="mt-32 md:mt-[3.5rem] headings:fontbold">
						<slot />
					</main>
					<Footer />
				</div>
			</div>
		</div>
	</body>
</html>
